<header>
    <div id="header_inner" class="center">
        <div id="main_logo">
            <a id="logo" href="/">{{ site.title }}</a>
        </div>
        <nav id="main_nav">
            <a id="main_nav_link" href="/articles">学习（输入）</a>
            <a id="main_nav_link" href="/projects">实践（输出）</a>
            <a id="main_nav_link" href="/about">关于</a>
            <a id="main_nav_link" href="/links">友情链接</a>
        </nav>
    </div>
</header>